.bg-home{
    background: #FFF9F4;
}
.text-home{
    color: #FA804C;
}
.bg-btn{
    background:#3D4FF3;
    border: none;
}
.bg-shoes{
   background: #F1F1F1;
}
.img-max-height{
    max-height: 330;
}